.food{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 8px;
    width: 400px;
    height: auto;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 5px;
    background: white;
}

.food img{
    border-radius: 5px 5px 0 0;
    object-fit: cover;
    height: 300px;
}

.food h3{
    text-align: center;
    font-size: 28px;
    color: #333;
    margin: 1em;
}

.btns{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btns button{
    margin: 5px;
}

.btns span{
    font-size: 2em;
    font-weight: bold;
    color: rgb(26, 207, 26);
}

.btns button {
    padding: 8px 18px;
    border: none;
    outline: none;
    cursor: pointer;
    color: rgb(99, 99, 99);
    font-weight: bold;
    background: rgb(207, 207, 207);
    opacity: .8;
}

.btns button:nth-child(2){
    color: rgb(187, 0, 0);
   
    font-weight: bold;
    background: rgb(252, 185, 185);
}

.btns button:hover{
    opacity: 1;
    
}
