.modal {
    width: 50vw;
    height: 80vh;
    background: rgb(189, 113, 27);
    position: absolute;
    top: 10vh;
    right: 25vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}

.form {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.input {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.input input {
    font-size: 20px;
    color: #5a5a5a;
    font-weight: bold;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 4px;

}

.input label {
    font-size: 20px;
    color: #fbff2c;
}


.add {
    width: 200px;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
    background: #5a5a5a;
    color: #fbff2c;
    border-radius: 4px;
    
}

.cancel{
    border-radius: 4px;
    margin-top: 10px;
    width: 200px;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
    background: #fbff2c;
    color: #5a5a5a;
}

@media(max-width:768px) {
    .modal {
        width: 90vw;
        top: 50px;
        right: 20px;
    }

    .form {
        width: 100%;
    }
}

@media(max-width:425px) {
    .modal {
        width: 90vw;
        top: 50px;
        right: 20px;
    }

    .form {
        width: 100%;
    }
}